.user-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
 
}

.user-item a {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #292929;
}

.user-item:hover a{
    background:yellowgreen
}
.user-item:hover h2,
.user-item:active h2
/* .user-item:hover h3,
.user-item:active h3  */
{
    color:#292929
}

.user-item__info h3 {
    margin:0
}